html {
  background-color: hsla(240, 100%, 90%, 1.0);
  position: fixed;
  width: 100%;
}

html body {
  width: 100%;
  right: 0.0%;
  top: 0.0%;
  margin: 0;
  padding: 0;
  position: fixed;
  display: inline-block;
  bottom: 0.0%;
  left: 0.0%;
}

html #frame {
  position: absolute;
  top: 0.0%;
  bottom: 0.0%;
  right: 0.0%;
  left: 0.0%;
}

html ul {
  display: inline-block;
  padding: 0.0%;
  margin: 0.0%;
}

html ul li {
  display: inline-block;
}

html #menubar-top {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 20.0%;
}

html #menubar-top ul#infobar {
  font-size: 5.0vmin;
  position: relative;
  display: block;
  top: 0;
  right: 0;
  left: 0.5vmin;
  height: 5.0vmin;
  width: 100%;
}

html #menubar-top ul#infobar li {
  width: 30.5vmin;
  border-width: 0.3vmin;
  padding-bottom: 0px;
  margin-right: 0.0vmin;
  text-align: center;
  border-style: solid;
  border-bottom-right-radius: 3.0vmin;
  border-bottom-left-radius: 3.0vmin;
  padding-right: 1.0vmin;
  display: inline-block;
  padding-left: 1.0vmin;
  padding-top: 0px;
}

html #menubar-top ul#buttonbar {
  position: fixed;
  top: 5.0vmin;
  right: 0;
  left: 0;
  height: 10.0vmin;
}

html #menubar-top ul#buttonbar button {
  height: 10.0vmin;
}

html #board {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  display: block;
}

html table {
  position: relative;
  z-index: -10;
  padding: 100px;
}

html table tr {
  background-color: green;
  transition: background-color .2s;
  border-width: 3px;
  border-style: solid;
}

html table tr.cursor-at {
  background-color: red;
}

html table td.board-area {
  min-width: 30.0px;
  height: 30.0px;
  margin: 0;
  padding: 0;
  border: none;
}

html table td.board-area button {
  width: 30.0px;
  height: 30.0px;
  text-align: center;
  background-color: transparent;
  border-width: 0px;
  padding: 0;
  margin: 0;
}

html table td.board-area button.selected {
  background-color: blue;
}