html {
  background-color: black;
  position: fixed;
  font-family: apple;
  width: 100%;
  image-rendering: pixelated;
}

html body {
  width: 100%;
  right: 0.0%;
  top: 0.0%;
  margin: 0;
  padding: 0;
  position: fixed;
  display: inline-block;
  bottom: 0.0%;
  left: 0.0%;
}

html #frame {
  position: absolute;
  top: 0.0%;
  bottom: 0.0%;
  right: 0.0%;
  left: 0.0%;
}

html ul {
  display: inline-block;
  padding: 0.0%;
  margin: 0.0%;
}

html ul li {
  display: inline-block;
}

html #menubar-top {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 20.0vmin;
}

html #menubar-top ul#infobar {
  font-size: 2.5vmin;
  position: relative;
  display: flex;
  top: 0;
  right: 0;
  left: 0.5vmin;
  height: 5.0vmin;
  width: 100%;
}

html #menubar-top ul#infobar li {
  width: 33.0%;
  border-width: 0.5vmin;
  padding-bottom: 0px;
  border-color: white;
  margin-right: 0.5vmin;
  text-align: center;
  border-top-width: 0;
  border-style: solid;
  border-bottom-right-radius: 3.0vmin;
  border-bottom-left-radius: 3.0vmin;
  margin-left: 0.5vmin;
  background-color: black;
  padding-right: 1.0vmin;
  display: flex;
  color: white;
  padding-left: 1.0vmin;
  padding-top: 0px;
}

html #menubar-top ul#infobar li span.label {

}

html #menubar-top ul#infobar li span.label img {
  width: 7.0vmin;
  float: left;
}

html #menubar-top ul#infobar li span.value {
  width: 100%;
  border-width: 0;
  border-color: grey;
  height: 100%;
  text-align: right;
  border-style: solid;
  padding-right: 1.0vmin;
  flex: flex-grow;
  padding-left: 1.0vmin;
  padding-top: 1.0vmin;
}

html #menubar-top #buttonbar {
  position: fixed;
  display: flex;
  top: 7.0vmin;
  right: 0;
  left: 0;
  height: 10.0vmin;
  overflow-wrap: break-word;
  transition: top 0.5s;
}

html #menubar-top #buttonbar.showing {
  top: 7.0vmin;
}

html #menubar-top #buttonbar.hidden {
  top: -20.0vmin;
}

html #menubar-top #buttonbar button {
  width: 17%;
  font-family: inherit;
  height: 10.0vmin;
  margin-right: 1.0vmin;
  border: none;
  flex-grow: 1;
  box-shadow: 0px 0px 3px 1px black;
  margin-left: 1.0vmin;
  font-size: 2.3vmin;
  background-color: white;
  display: inline;
}

html #menubar-top #buttonbar button:active {
  box-shadow: inset 0px 0px 3px 1px black;
}

html #menubar-bottom {
  width: 100%;
  right: 0;
  border-width: 0.7vmin;
  border-color: white;
  overflow-y: hidden;
  position: absolute;
  min-height: 20.0vmin;
  overflow-x: scroll;
  bottom: 0;
  transition: bottom 0.5s;
  max-height: 20.0vmin;
  left: 0;
  border-top-style: double;
}

html #menubar-bottom.empty {
  bottom: -20.0vmin;
}

html #menubar-bottom #buttonbar {
  display: flex;
  height: 20.0vmin;
  width: 100%;
}

html #menubar-bottom #buttonbar button {
  min-width: 26.0vmin;
  justify-content: space-around;
  font-family: inherit;
  height: 16.0vmin;
  margin-right: 1.0vmin;
  border: none;
  align-items: center;
  flex-direction: column;
  margin-top: 2.0vmin;
  margin-left: 1.0vmin;
  background-color: white;
  display: flex;
}

html #menubar-bottom #buttonbar button .sprite {
  display: inline-block;
  min-width: 6.0vmin;
  min-height: 6.0vmin;
  background-image: var(--sprite);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

html #menubar-bottom #buttonbar button .label {
  font-family: inherit;
  font-size: 2.75vmin;
}

html #menubar-bottom #buttonbar button hr {
  margin: 0.05vmin;
  height: 0.05vmin;
  width: 05%;
  padding: 0 10.0vmin;
}

html #modal {
  transition: top 0.5s, bottom 0.5s, left 0.5s, right 0.5s;
  position: fixed;
  top: 8.0vmin;
  bottom: 5.0vmin;
  left: 5.0vmin;
  right: 5.0vmin;
  background-color: black;
  z-index: 10;
}

html #modal .titlebar {
  background-color: grey;
  padding: 0.5vmin;
}

html #modal .titlebar .name {
  margin: 2.0vmin;
}

html #modal .titlebar .close {
  float: right;
  margin: 0;
  margin-right: 0.5vmin;
  border-radius: 4.0vmin;
  background-color: red;
  border-style: none;
  border-width: 1.0vmin;
  border-color: red;
}

html #modal .interior {
  color: white;
  overflow: scroll;
  min-width: 90%;
  max-width: 90%;
  min-height: 90%;
  max-height: 90%;
  padding: 5%;
}

html #modal .interior .purchase-list .purchasable {
  display: block;
  padding-bottom: 2.0vmin;
  padding-top: 2.0vmin;
  border-width: 0;
  border-bottom-width: 1.0vmin;
  border-style: double;
  font-size: 3.3vmin;
}

html #modal .interior .purchase-list .purchasable .info {
  border-width: 0;
  border-bottom-width: 0.5vmin;
  border-color: white;
  border-style: dashed;
  margin-bottom: 1.0vmin;
  padding-bottom: 1.0vmin;
}

html #modal .interior .purchase-list .purchasable .info .name {
  font-size: 5.0vmin;
  border-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  margin-bottom: 1.5vmin;
}

html #modal .interior .purchase-list .purchasable .info img {
  width: 13.333333333333334vmin;
  height: 13.333333333333334vmin;
  float: left;
  margin-right: 1.0vmin;
}

html #modal .interior .purchase-list .purchasable .info .description {

}

html #modal .interior .purchase-list .purchasable .cost {
  display: flex;
  padding: 0.3vmin;
}

html #modal .interior .purchase-list .purchasable .cost * {
  padding: 1.0vmin;
  border-style: solid;
  border-width: 0.3vmin;
}

html #modal .interior .purchase-list .purchasable .button-bar button {
  font-family: inherit;
  background-color: white;
  width: 100%;
  border: none;
  font-size: 4.0vmin;
  height: 7.0vmin;
}

html #modal.showing {

}

html #modal.hidden {
  top: 120.0%;
  bottom: -10.0%;
  left: 45.0%;
  right: 45.0%;
}

html #board {
  position: fixed;
  --board-zoom-level: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  display: block;
}

html #board.zoom-level2 {
  --board-zoom-level: 1.3;
}

html #board.zoom-level3 {
  --board-zoom-level: 1.7;
}

html #board.zoom-level4 {
  --board-zoom-level: 2.1;
}

html #board.zoom-level5 {
  --board-zoom-level: 2.7;
}

html .board-container {
  --board-width: 1;
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: calc(30.0px  *  var(--board-width)  *  var(--board-zoom-level));
  margin-top: 20.0vmin;
  margin-bottom: 20.0vmin;
}

html .board-container.board-width-0 {
  --board-width: 0;
}

html .board-container.board-width-1 {
  --board-width: 1;
}

html .board-container.board-width-2 {
  --board-width: 2;
}

html .board-container.board-width-3 {
  --board-width: 3;
}

html .board-container.board-width-4 {
  --board-width: 4;
}

html .board-container.board-width-5 {
  --board-width: 5;
}

html .board-container.board-width-6 {
  --board-width: 6;
}

html .board-container.board-width-7 {
  --board-width: 7;
}

html .board-container.board-width-8 {
  --board-width: 8;
}

html .board-container.board-width-9 {
  --board-width: 9;
}

html .board-container.board-width-10 {
  --board-width: 10;
}

html .board-container.board-width-11 {
  --board-width: 11;
}

html .board-container.board-width-12 {
  --board-width: 12;
}

html .board-container.board-width-13 {
  --board-width: 13;
}

html .board-container.board-width-14 {
  --board-width: 14;
}

html .board-container.board-width-15 {
  --board-width: 15;
}

html .board-container.board-width-16 {
  --board-width: 16;
}

html .board-container.board-width-17 {
  --board-width: 17;
}

html .board-container.board-width-18 {
  --board-width: 18;
}

html .board-container.board-width-19 {
  --board-width: 19;
}

html .board-container.board-width-20 {
  --board-width: 20;
}

html .board-container.board-width-21 {
  --board-width: 21;
}

html .board-container.board-width-22 {
  --board-width: 22;
}

html .board-container.board-width-23 {
  --board-width: 23;
}

html .board-container.board-width-24 {
  --board-width: 24;
}

html .board-container.board-width-25 {
  --board-width: 25;
}

html .board-container.board-width-26 {
  --board-width: 26;
}

html .board-container.board-width-27 {
  --board-width: 27;
}

html .board-container.board-width-28 {
  --board-width: 28;
}

html .board-container.board-width-29 {
  --board-width: 29;
}

html .board-container .traveler {
  min-width: calc(30.0px  *  var(--board-zoom-level));
  background-position: center;
  top: calc(30  *  var(--pos-x)  *  var(--board-zoom-level));
  background-repeat: no-repeat;
  height: calc(30.0px  *  var(--board-zoom-level));
  --pos-x: 10px;
  position: absolute;
  transition-timing-function: linear;
  background-size: calc(30.0px  *  var(--board-zoom-level));
  border-radius: 10px;
  --sprite: url();
  pointer-events: none;
  background-image: var(--sprite);
  transition: top 1s linear, left 1s linear;
  color: white;
  --board-zoom-level: inherit;
  left: calc(30  *  var(--pos-y)  *  var(--board-zoom-level));
  --pos-y: 0px;
  --new-pos-x: calc(30.0px  *  var(--pos-x));
}

html .board-container .traveler .label {
  position: absolute;
  bottom: 0;
  right: calc(var(--board-zoom-level)  *  12.0px);
  font-size: calc(var(--board-zoom-level)  *  7px);
}

html .board-container .traveler.dart {
  --sprite: url("../img/magic_dart_anim.png");
}

html .board-container .traveler.splash {
  --sprite: url("../img/crawl-tiles/effect/cloud_spectral_0.png");
}

html .board-container .traveler.altarcloud {
  --sprite: url("../img/cloud_magic_anim.png");
}

html .board-container .traveler.devilball {
  --sprite: url("../img/cloud_fire_anim.png");
}

html .board-container table {
  border-collapse: collapse;
  z-index: -10;
}

html .board-container table tr {
  background-color: hsla(120, 100%, 35.098038%, 1.0);
  transition: background-color .2s;
  border-width: 0px;
  border-style: solid;
}

html .board-container table tr.cursor-at {
  background-color: red;
}

html .board-container table tr.cursor-at td.board-area button {
  --selected-box: url(../img/highlight_box.png);
}

html .board-container table tr.cursor-at td.board-area button.selected {
  --selected-box: url(../img/highlight_box_select.png);
}

html .board-container table td.board-area {
  --board-zoom-level: inherit;
  min-width: calc(30.0px  *  var(--board-zoom-level));
  height: calc(30.0px  *  var(--board-zoom-level));
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 0px;
}

html .board-container table td.board-area button.floor0 {
  --tile: url("../img/crawl-tiles/dungeon/floor/cobble_blood_0_new.png");
}

html .board-container table td.board-area button.floor1 {
  --tile: url("../img/crawl-tiles/dungeon/floor/cobble_blood_1_new.png");
}

html .board-container table td.board-area button.floor2 {
  --tile: url("../img/crawl-tiles/dungeon/floor/cobble_blood_2_new.png");
}

html .board-container table td.board-area button.floor3 {
  --tile: url("../img/crawl-tiles/dungeon/floor/cobble_blood_3_new.png");
}

html .board-container table td.board-area button.floor4 {
  --tile: url("../img/crawl-tiles/dungeon/floor/cobble_blood_4_new.png");
}

html .board-container table td.board-area button.floor5 {
  --tile: url("../img/crawl-tiles/dungeon/floor/cobble_blood_5_new.png");
}

html .board-container table td.board-area button.floor6 {
  --tile: url("../img/crawl-tiles/dungeon/floor/cobble_blood_6_new.png");
}

html .board-container table td.board-area button.floor7 {
  --tile: url("../img/crawl-tiles/dungeon/floor/cobble_blood_7_new.png");
}

html .board-container table td.board-area button.floor8 {
  --tile: url("../img/crawl-tiles/dungeon/floor/cobble_blood_8_new.png");
}

html .board-container table td.board-area button.floor9 {
  --tile: url("../img/crawl-tiles/dungeon/floor/cobble_blood_9_new.png");
}

html .board-container table td.board-area button.floor10 {
  --tile: url("../img/crawl-tiles/dungeon/floor/cobble_blood_10_new.png");
}

html .board-container table td.board-area button.floor11 {
  --tile: url("../img/crawl-tiles/dungeon/floor/cobble_blood_11_new.png");
}

html .board-container table td.board-area button.floor12 {
  --tile: url("../img/crawl-tiles/dungeon/floor/cobble_blood_12_new.png");
}

html .board-container table td.board-area button {
  min-width: inherit;
  background-position: center, bottom right, top left, center;
  border-width: 0px;
  background-repeat: no-repeat;
  font-family: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
  text-align: center;
  --tile: url();
  --direction: url();
  background-size: cover, calc(26px  *  var(--board-zoom-level)), calc(10px  *  var(--board-zoom-level)), cover;
  --sprite: url();
  --selected-box: url();
  background-image: var(--selected-box), var(--sprite), var(--direction), var(--tile);
  text-shadow: 0px 0px 3px white;
  color: white;
  --board-zoom-level: inherit;
}

html .board-container table td.board-area button.selected {
  --selected-box: url(../img/box_select.png);
}

html .board-container table td.board-area button span.label {
  --board-zoom-level: inherit;
  position: relative;
  font-family: inherit;
  right: calc(10px  *  var(--board-zoom-level));
  font-size: calc(5px  *  var(--board-zoom-level));
  top: calc(1.5px  *  var(--board-zoom-level));
}

html .board-container .direction.up {
  --direction: url("../img/up_arrow.png");
}

html .board-container .direction.down {
  --direction: url("../img/down_arrow.png");
}

html .board-container .direction.left {
  --direction: url("../img/left_arrow.png");
}

html .board-container .direction.right {
  --direction: url("../img/right_arrow.png");
}

html .board-container .unit.gold-devil {
  --sprite: url("../img/crawl-tiles/monster/demons/cacodemon.png");
}

html .board-container .unit.deep-elf {
  --sprite: url("../img/crawl-tiles/monster/deep_elf_conjurer.png");
}

html .board-container .unit.crystal-fountain {
  --sprite: url("../img/crawl-tiles/dungeon/sparkling_fountain.png");
}

html .board-container .unit.high-elf {
  --sprite: url("../img/crawl-tiles/monster/deep_elf_sorcerer.png");
}

html .board-container .unit.basic-portal {
  --sprite: url("../img/crawl-tiles/dungeon/gateways/wizlab_gone.png");
}

html .board-container .unit.human {
  --sprite: url("../img/crawl-tiles/monster/human_new.png");
}

html .board-container .unit.fountain {
  --sprite: url("../img/crawl-tiles/dungeon/dry_fountain.png");
}

html .board-container .unit.empty {
  --sprite: url("../img/empty.png");
}

html .board-container .unit.elf-mage {
  --sprite: url("../img/crawl-tiles/monster/deep_elf_annihilator.png");
}

html .board-container .unit.blood-fountain {
  --sprite: url("../img/crawl-tiles/dungeon/blood_fountain.png");
}

html .board-container .unit.corpulent-devil {
  --sprite: url("../img/crawl-tiles/monster/demons/blue_death.png");
}

html .board-container .unit.devil {
  --sprite: url("../img/crawl-tiles/monster/demons/blue_devil_new.png");
}

html .board-container .unit.old-altar {
  --sprite: url("../img/crawl-tiles/dungeon/altars/altar_old.png");
}

.operation.purchase {
  --sprite: url("../img/crawl-tiles/item/gold/gold_pile.png");
}

.operation.swap {
  --sprite: url("../img/crawl-tiles/gui/spells/translocation/blink.png");
}

.operation.move {
  --sprite: url("../img/crawl-tiles/gui/startup/dungeon_sprint.png");
}

.operation.info {
  --sprite: url("../img/crawl-tiles/gui/startup/instructions.png");
}

.operation.rotate {
  --sprite: url("../img/crawl-tiles/gui/spells/enchantment/confusing_touch_old.png");
}

.operation.upgrade {
  --sprite: url("../img/crawl-tiles/gui/spells/memorise.png");
}

.operation.sell {
  --sprite: url("../img/crawl-tiles/gui/spells/translocation/banishment.png");
}